{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Clover
{% endblock %}

{% block name%}
О проекте
{% endblock %}
{% block content %}

           <div class="about">
               Clover - это первая научно-ориентированная социальная сеть, созданная при поддержке НСО факультета психологии МГУ.
               <br>
               <br> Пользователь сможет открыть для себя мир настоящей психологии, научных фактов и статей. Здесь можно пройти апробированные тесты, узнать о ближайших тренингах и мероприятиях, и, конечно, получить квалифицированную психологическую помощь от проверенных специалистов.
               <br>
               <br> Представителям научного сообщества, студентам и аспирантам будет интересно найти новых коллег, узнать мнение других профессионалов, а так же представить собственные исследования в виде популярных статей широкой аудитории.
           </div>

{% endblock %}
